name: PromptLook Server CI

# 실행 시점
on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 코드 가져오기
      - name: Checkout source code
        uses: actions/checkout@v4

      # 2. Java 21 세팅 (Gradle 캐싱 포함)
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      # 3. Gradle 실행 권한 부여
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 4. 빌드 & 테스트 실행
      # H2 DB 설정을 사용하게 함.
      - name: Build with Gradle
        run: ./gradlew clean build -Dspring.profiles.active=local
        env:
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          KAKAO_CLIENT_ID: ${{ secrets.KAKAO_CLIENT_ID }}
          KAKAO_CLIENT_SECRET: ${{ secrets.KAKAO_CLIENT_SECRET }}
          NAVER_CLIENT_ID: ${{ secrets.NAVER_CLIENT_ID }}
          NAVER_CLIENT_SECRET: ${{ secrets.NAVER_CLIENT_SECRET }}
          PORTONE_API_SECRET: ${{ secrets.PORTONE_API_SECRET }}
          R2_ACCESS_KEY: ${{ secrets.R2_ACCESS_KEY }}
          R2_SECRET_KEY: ${{ secrets.R2_SECRET_KEY }}
          R2_ACCOUNT_ID: ${{ secrets.R2_ACCOUNT_ID }}
          R2_PUBLIC_DOMAIN: ${{ secrets.R2_PUBLIC_DOMAIN }}
          DB_TEST_HOST: ${{ secrets.DB_TEST_HOST }}
          DB_TEST_PORT: ${{ secrets.DB_TEST_PORT }}
          DB_TEST_NAME: ${{ secrets.DB_TEST_NAME }}
          DB_TEST_USER: ${{ secrets.DB_TEST_USER }}
          DB_TEST_PASSWORD: ${{ secrets.DB_TEST_PASSWORD }}
          KIE_API_KEY: ${{ secrets.KIE_API_KEY }}